@use "@/styles/variables.scss" as *;

@keyframes modalPop {
  from {
    opacity: 0;
    transform: scale(0.85);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modalClose {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.85);
  }
}

.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  // z-index: 10;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dimmed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.modal {
  max-height: 90vh;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  z-index: 10;

  animation: modalPop 0.3s ease-out; // 띠용 효과
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  padding-left: 1.2rem;
  background-color: white;
  border-bottom: 1px solid #e9ecef;
  // cursor: move;

  .title {
    color: $black;
  }
}

.title {
  font-size: 1.1rem;
  font-weight: 600;
}

.closeIcon {
  font-size: 1.7rem;
  color: $gray5;
  cursor: pointer;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: black;
  }
}

.body {
  padding: 0.7rem 1.2rem;
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
  font-size: 0.95rem;
  line-height: 1.6;
  color: #333;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5rem;
  padding: 0.6rem;
  background-color: white;
  text-align: right;
  border-top: 1px solid #e9ecef;
}

.btnFeature {
  border-radius: 20px;
  box-sizing: border-box;
  border: 1px solid $black;
  width: 4rem;
  height: 1.5rem;
  font-size: 0.8rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.confirmBtn {
  @extend .btnFeature;
  color: white;
  background-color: black;
}

.cancelBtn {
  @extend .btnFeature;
  color: $gray5;
  background-color: white;
}
