@use "@/styles/variables.scss" as *;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.menuBarWrapper {
  z-index: 99999;
  position: fixed;
  top: 70px;
  left: 0;

  width: 100vw;
  height: 100vh;
}

.menuBar {
  position: fixed;
  top: 70px;
  right: 0;
  // width: 18%;
  height: auto;
  background: white;
  backdrop-filter: blur(5px);
  z-index: 4;
  display: flex;
  justify-content: center;
  text-align: center;
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
  // border-bottom: 1px solid #d9d9d9;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow-y: auto; // 메뉴바 영역 내에서만 세로 스크롤
  max-height: calc(100vh - 70px); // 화면을 넘지 않도록 최대 높이 지정
}

.menuList {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mainMenu {
  position: relative;

  // &:hover .mainMenuNm {
  // 	border-bottom: solid 2px white;
  // }
}

// .active.mainMenu {
// 	.mainMenuNm {
// 		border-bottom: solid 2px white;
// 	}
// }

.mainMenuNm {
  font-size: clamp(14px, 17px, 20px);
  font-weight: 700;
  padding-bottom: 0.4rem;
  // border-bottom: solid 2px black;
  width: 100%;
  justify-content: center;

  &:after {
    content: "▾";
    font-size: 22px;
    position: absolute;
    right: 20px;
    top: 30px;
    width: 30px;
    height: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
    transform-origin: 15px 1px;
    transform: rotate(-90deg);
  }
}
.mainMenu.active .mainMenuNm:after {
  // transform: rotate(0deg);
  transform: rotate(10800deg);
}

.categoryArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 18vw;
  height: 100%;
  padding: 0.2rem 0.8rem 0.8rem;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
  box-sizing: border-box;
  // border-bottom: dashed 3px $primary-gray;
}
/* 대분류 또는 중분류에 호버하면 카테고리 배경 변경 */
// .mainMenu.active .categoryArea,
// .mainMenu:hover .categoryArea,
.subMenu:hover ~ .categoryArea {
  background: $primary-green;
  color: white;
  height: 100%;
}

.subMenuList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  transition:
    max-height 0.3s cubic-bezier(0.6, 0, 0.8, 1),
    opacity 0.3s,
    transform 0.3s;
  overflow: hidden;
}

.mainMenu.active .subMenuList {
  max-height: 500px; // 충분히 큰 값으로 설정
  opacity: 1;
  transform: translateY(0);
}

.subMenu {
  padding: 8px 14px;
  font-size: 15px;
  opacity: 0.9;
  cursor: pointer;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    font-weight 0.3s ease-in-out;

  &:hover {
    font-weight: 700;
    opacity: 1;
  }

  &.active {
    background: $primary-green;
    color: white;
    font-weight: 700;
    opacity: 1;
  }
}
.menuBarOutside {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 70px);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 20px;
  border-radius: 10px;
}
