@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/PretendardVariable.woff2") format("woff2-variations");
}

$pretendard: "Pretendard Variable";

/**
 * 색상 팔레트
 */
$transparent: #ffffff00;

$primary-green: #6ca600;
$primary-gray: #b4b4b4;
$black: #000000;
$blue: #036eb8;
$red: #d30000;
$green: #1b9510;
$yellow: #ffe100;
$skyblue: #c2e6ff;

$gray1: #eeeeee;
$gray4: #a1a1a1;
$gray5: #717171;

$background-color: #f7faff;
